apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-ci-cd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Alkamist/hello-ci-cd
    targetRevision: HEAD
    path: chart
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true